.login_page{
    align-items: center;

    min-width: 220px;
    max-width: 760px;
    width: auto;
    box-sizing: border-box;

    margin: auto;
}

.header-logo {
    margin: 20px 30% 0px 30%;
    width: 40%;
    cursor: pointer;
}

.text_input{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    flex-direction: column;
    padding: 15px 0px;
}

.text_input label{
    padding-left: 15px;
    padding-bottom: 5px;
}

.input-blank{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px rgba(109, 168, 56, .35);
    border-radius: 30px;
    
    padding: 10px 110px 10px 30px;
    background: #fff;
    font-size: 1.2rem;

    cursor: pointer;
    box-sizing: border-box;
    vertical-align: top;
}

.logn_button {
    margin: 40px 0px 60px 0px;
    button {
        color: #fff;
        border: solid 1px rgba(0, 0, 0, 0.08);
        background-color: rgba(109, 168, 56, 0.92);
        display: block;
        width: 100%;
        padding: 15px 0 15px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 30px;
    }
}