<!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>SDDS</title>
            <link rel="stylesheet" href="./css/product_layout.css">
        </head>
        <body id="ino3">
            <script>
                // 서버 url
                const serverUrl = "http://simplelinuxvm-foic5rddd76ve.koreacentral.cloudapp.azure.com:3000";

                //물품 JSON 데이터 받아오기
                async function loadData(){
                    let product = await fetch(serverUrl + "/api/v1/user", {
                        headers: {
                            //토큰은 유동적으로 받아줘야 할듯
                            "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJ1c2VyX2xvZ2luX2lkIjoidGVzdDEyMzQiLCJpYXQiOjE2NjgzNjM2NTcsImV4cCI6MTY3MDk1NTY1N30.nEl8jXeuwa1qog0JxeaoXxxOO6vy3_q8Pj6aTMiOJ7Y",
                        },
                    })

                    let productData = await product.json();

                    return productData;
                }
                
                //주문 수 카운트할 
                function count(type){
                    const resultElement = document.getElementById('product-count-value');
                    let number = resultElement.value;

                    if (type === 'plus') {
                        number = parseInt(number)    + 1;
                    } else if (type === 'minus' & number > 0) {
                        number = parseInt(number) - 1;
                    }

                    resultElement.value = number;
                }
                
                //이미지 추가하는 함수(매개변수: 부모요소 id, 불러올 이미지 url)
                function add_img(id, url) { 
                    var img = document.createElement('img'); 
                    img.src = url; 
                    document.getElementById(id).appendChild(img);
                }

                //이거 안쓸듯?
                function add_element(perent_id, text, id) { 
                    var element = document.createElement("div"); 
                    element.innerHTML = text;
                    element.id = id;
                    document.getElementById(perent_id).appendChild(element);
                }
                // 이건 서버에서 받아와야 함
                const thumbnail = "https://blackboard.sejong.ac.kr/bbcswebdav/institution/login/images/sejong.png";
            </script>
            <div class="gjs-row" id="title-row">
                <div class="gjs-cell" id="title-cell">
                    <div id="title-text">SDDS.COM</div>
                </div>
            </div>

            <div class="gjs-row" id="container-product">
                <div class="gjs-cell" id="container-product-thumbnail"></div>
                <div class="gjs-cell" id="container-product-info">
                    <div class="gjs-cell" id="product-name">
                        상품 이름</div>
                    <div class="gjs-cell" id="product-price">가격</div>
                    <div class="gjs-cell" id="product-count">남은 개수</div>

                    <div class="gjs-cell" id="container-product-count">
                        <span id="product-count-minus" onclick='count("minus")'>-</span>
                        <input id="product-count-value" type="text" value="1"/>
                        <span id="product-count-plus" onclick='count("plus")'>+</span>
                    </div>
                    
                    <button type="button" id="btn-order" onclick="">
                        주문하기
                    </button>
                </div>
            </div>
            
            <div class="gjs-row" id="container-description">
                <div class="gjs-cell" id="description-text">
                    상품상세정보
                </div>
            </div>

            <div class="gjs-row" id="container-detail">
                <div class="gjs-cell" id="container-detail-img">
                    <!-- 동적인 개수의 이미지가 들어갈 위치 -->
                </div>
            </div>

            <!-- <script>
                //이미지 받는것 임시로 3개 넣음
                const array_url = [
                    "https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA5MDVfMjY1%2FMDAxNTA0NTc5ODY3MTk1.CfryoPb-b9Bu3XNMQ-BMn-VsaFOQmT2z-V-J093dNIgg.u8-x0rtUJwZTS01c0yENynZMrU8aoUQjoe4aOQ6l0Hog.JPEG.msinvestment%2F%25B8%25B6%25B4%25C3%25B6%25F3%25B8%25E95%25C1%25B6%25C0%25FD.jpg&type=a340",
                    "https://sitem.ssgcdn.com/23/32/34/item/1000456343223_i1_600.jpg",
                    "https://sitem.ssgcdn.com/94/48/90/item/1000055904894_i1_1200.jpg"
                ];

            </script> -->

            <!-- <script>
                //모든 제품 설명 이미지 아래에 추가
                array_url.forEach(element => {
                    add_img("container-detail-img", element);
                });

                //데이터는 이렇게 받으면 댐
                loadData().then(res => console.log(res.login_id));

            </script> -->

            <script>
                loadData().then(res => {
                    let name = document.getElementById('product-name');
                    el.innerHTML = res.name;

                    let price = document.getElementById('product-price');
                    el.innerHTML = res.price + "원";

                    let count = document.getElementById('product-count');
                    el.innerHTML = res.count + "개 남았습니다.";

                    let thumbnail_url = res.image.thumbnail_url[0];
                    add_img("container-product-thumbnail", thumbnail_url)

                    let ary_url = res.image.main_url;
                    ary_url.forEach(element => {
                        add_img("container-detail-img", element);
                    });
                })
            </script>

        </body>
    </html>
