.pannel-domain-modal .gjs-mdl-dialog {
    max-width: 515px;
}

.domain_title {
    font-size: 30px;
    margin-left: 20px;
    color: #ccc;
}

.domain-input {
    margin: 20px;
    background-color: #2d2d2d;
    border: 1px solid #222;

    color: #ffffff;
    height: 40px;
}

.domain-btn {
    display: inline-block;
    float: right;
    border-radius: 4px;
    background-color: #595959;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 15px 8px 0px;
}

.domain-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.domain-btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.domain-btn:hover span {
    padding-right: 25px;
}

.domain-btn:hover span:after {
    opacity: 1;
    right: 0;
}
