:root {
    --primary: brown;
    --pink:#FF86AA;
    --white:#FFFFFF;
    --gray:#606060;
    --purple:#CE7BB1;
}

.btn--custom {
    padding:8px 20px;
    border-radius: 2px;
    
    outline:none;
    cursor:pointer;
    height: 40px;
    
}

.btn--primary{
    background-color: brown;
    color:#242424;
    border: 1px solid brown;
}

.btn--pink {
    background-color: var(--pink);
    border: 1px #242424;
    color:var(--white);
    padding:8px 20px;
    transition: all 0.3s ease-in-out;
}

.btn--white {
    border: none;
    background-color: var(--white);
    color: #606060;
    padding:8px 20px;
    transition: all 0.3s ease-in-out;
}

.btn--blue {
    border:none;
    background-color: #009FDF;
    color:var(--white);
    padding:8px 20px;
    transition: all 0.3s ease-in-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;

}

.btn--large {
    padding: 12px 30px;
    height: 50px;
    font-size: 20px;
}

.btn--pink:hover{
    background-color: #CE7BB1;
} 
.btn--white:hover{
    background-color: #CE7BB1;
    color: var(--white);
    

}

.btn--blue:hover{
    background-color: #00DBB9;
}

.btn-mobile {
    margin-left: 10px;
}